@import "tailwindcss";

@theme {
  --color-primary: #123524;
  --color-primary-foreground: #ffffff;
  --color-accent: #ccee25;
  --color-accent-foreground: #123524;
  --color-background: #f8faf9;
  --color-foreground: #123524;
  --color-card: #ffffff;
  --color-card-foreground: #123524;
  --color-muted: #e8ede5;
  --color-muted-foreground: #667e6b;

  --font-sans: var(--font-google-sans);
}

body {
  color: var(--color-foreground);
  font-family: var(--font-sans);
}